body{
    font: normal 15pt Verdana;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

div#título{
    font: normal 15pt Verdana;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    margin: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
   
    
}

div#conteúdo{
    padding: 0px, 0px;
    display: flex;
    width: 90%;    
}
ul {   
    margin: 0px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.904);
    vertical-align: top;
    text-align: center;
    background: rgb(0, 0, 0);
    width: auto;
    height: 100%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded
  }
ul li a{
    color: rgba(255, 255, 255, 0.904);
}


section{
    background: rgba(255, 255, 255, 0.89);
    /* border-radius: 10px;arredondamento */
    padding: 15px; 
    margin: 0 auto 0 auto; 
    text-align: center; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);/*sombra Deslocamento: LATERAL VERTICAL E ESPALHAMENTO*/
}

input#porcentagem{
    width: 50px;
}

input#Calcular{
    width: 150px;
    text-align: center;
    padding: 7px 5px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgb(189, 184, 171);
    font-size: 18px;
}
input#Calcular:active{
    position: relative;
    top: 2px;
}
input#ZerarTudo{
    width: 150px;
    text-align: center;
    padding: 7px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgb(255, 88, 88);
    font-size: 18px;
    
}
input#Zerar{
    width: 150px;
    text-align: center;
    padding: 7px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgb(189, 184, 171);
    font-size: 18px;
}
input#Zerar:active, input#ZerarTudo:active{
    position: relative;
    top: 2px;
}

select#lista{
    width: 150px;
}

/* footer{
    color: rgba(0, 0, 0, 0.87);    
    font-style: italic;
    font: normal 12pt sans-serif;
    position:absolute;
    bottom:0;
    width:80%;
} */


/* input#ConsultarBanco{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgb(189, 184, 171);
    font-size: 18px;
} */
/* input#Banco{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgb(189, 184, 171);
    font-size: 18px;
} */